<<<<<<< HEAD

=======
>>>>>>> b2d7069 (build(docker): dockerize the app)
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply bg-slate-200;
}

button.green {
  background-color: "#028A0F";
  @apply bg-green p-2 w-full text-white rounded-lg;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
}
>>>>>>> b2d7069 (build(docker): dockerize the app)
